@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merienda");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7em;
  letter-spacing: 1.7px;
  font-family: 'Times New Roman', Times, serif;
  color: #444;
  text-align: center;
}

.container {
  height: 2em;
  margin-top: -1.5em;
}

.box {
  z-index: 1;
}

.wave-wrapper p {
  padding: 300px 0;
  text-align: center;
}

.ripples {
  padding: 3em 0;
  width: 100%;
  height: 140px;
  background-image: url(img/water.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 100% 100%;
  background-size: cover;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.hamburger-menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00ABE7;
}

.hamburger-menu-btn i {
  color: #F6F7EB;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ABE7), to(#47d1d6));
  background: linear-gradient(#00ABE7, #47d1d6);
}

.hamburger-menu__item {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hamburger-menu__item a {
  color: #F6F7EB;
  font-size: 1em;
}

.hamburger-menu__item a:hover {
  color: #0081AF;
}

/*----------------------------
* アニメーション部分
*----------------------------*/
/* アニメーション前のメニューの状態 */
.hamburger-menu {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/* アニメーション後のメニューの状態 */
.hamburger-menu.is-active {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-start-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 900px) {
  .flex-start {
    display: block;
  }
}

.flex-start-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .flex-start-reverse {
    display: block;
  }
}

/*====================================================================
アコーディオンメニュー
====================================================================*/
.s_07 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 900px) {
  .s_07 .accordion_one {
    display: block;
  }
}

.s_07 .accordion_one .accordion_header {
  background-color: #47d1d6;
  border-bottom: 1px solid #444;
  color: #444;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header {
  background-color: #47d1d6;
}

.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header:hover {
  background-color: #FCF7FF;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #47d1d6;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header {
  background-color: #47d1d6;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header:hover {
  background-color: #FCF7FF;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #47d1d6;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header {
  background-color: #47d1d6;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header:hover {
  background-color: #FCF7FF;
}

.s_07 .accordion_one .accordion_header:hover {
  opacity: .8;
}

.s_07 .accordion_one .accordion_header .i_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  border: 1px solid #444;
  margin-top: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_07 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
}

.s_07 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before, .s_07 .accordion_one .accordion_header .i_box .one_i:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  background-color: #444;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_07 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s_07 .accordion_one .accordion_inner .box_one {
  height: 300px;
}

.s_07 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

.flex-start-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .flex-center-access {
    display: block;
  }
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1350px) {
  .flex-around {
    display: block;
  }
}

.flex-around-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .flex-around-header {
    display: none;
  }
}

.flex-around-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1350px) {
  .flex-around-event {
    display: block;
  }
}

svg {
  display: block;
  overflow: visible;
}

@media screen and (min-width: 1350px) {
  svg {
    display: none;
  }
}

table {
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  font-size: 1em;
}

@media screen and (max-width: 900px) {
  table {
    font-size: 0.7em;
  }
}

table th,
table td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
}

@media screen and (max-width: 900px) {
  table th,
  table td {
    padding: 0.6em 3em;
  }
}

@media screen and (max-width: 500px) {
  table th,
  table td {
    padding: .6em 0.5em;
  }
}

table th {
  background-color: #F6F7EB;
}

table th + th,
table td {
  border-left: 1px solid #aaa;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

.border-none {
  border-left: none;
}

header .header-top .flex-start {
  border-bottom: 5px dotted #47d1d6;
  margin: 0 3em;
}

header .header-top .flex-start img {
  width: 110px;
  height: 110px;
  margin-left: 0.5em;
}

@media screen and (max-width: 500px) {
  header .header-top .flex-start img {
    width: 70px;
    height: 70px;
    margin-left: -2em;
  }
}

header .header-top h1 {
  margin: 1em 1em;
}

@media screen and (max-width: 500px) {
  header .header-top h1 {
    font-size: 1.2em;
  }
}

header .header-top .header-lists {
  margin: 1em;
}

header .header-top .header-lists li {
  margin: 1em 0;
}

header .header-img {
  position: relative;
  vertical-align: top;
}

header .header-img .album {
  margin: 0;
  background-color: white;
  position: relative;
}

header .header-img .album img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: album;
  -webkit-animation-name: album;
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

header .header-img .album .img1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  display: block;
  margin: 0;
}

header .header-img .album .img2 {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img3 {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img4 {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img5 {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
  animation-direction: 5s;
  -webkit-animation-direction: 5s;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes album {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes album {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

header .header-img .header-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

header .header-img .header-text p {
  color: #fff;
  font-weight: bolder;
  font-size: 4em;
  padding: 1em 0 0 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1350px) {
  header .header-img .header-text p {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 900px) {
  header .header-img .header-text p {
    font-size: 2em;
    padding: 0.5em 0 0 0.5em;
  }
}

@media screen and (max-width: 500px) {
  header .header-img .header-text p {
    display: none;
  }
}

main .content-wrapper {
  margin: 0;
  background-color: #FCF7FF;
}

main .content-wrapper h2 {
  color: #fff;
}

#business-hours-fee {
  margin: 2em 0 0 0;
  padding-top: 2em;
  border-top: 5px dotted #47d1d6;
}

#business-hours-fee .hours {
  margin: 2em 0 2em 0;
}

#business-hours-fee .hours .hour-table {
  margin: 1em auto;
}

#business-hours-fee .fee {
  margin: 2em 0 2em 0;
}

#business-hours-fee .fee .fee-table {
  margin: 1em auto;
}

#business-hours-fee .fee table th,
#business-hours-fee .fee table td {
  padding: 0.89em 3em;
}

@media screen and (max-width: 1350px) {
  #business-hours-fee .fee table th,
  #business-hours-fee .fee table td {
    padding: 1em 4.5em;
  }
}

@media screen and (max-width: 500px) {
  #business-hours-fee .fee table th,
  #business-hours-fee .fee table td {
    padding: 0.5em 2em;
  }
}

#business-hours-fee .sale-text {
  padding: 1em;
  margin: 1em 7em 2em 7em;
  border: 5px dotted #47d1d6;
}

@media screen and (max-width: 500px) {
  #business-hours-fee .sale-text {
    margin: 3em 3em 4em 3em;
  }
}

#business-hours-fee .sale-text .sale-text-title {
  letter-spacing: 5px;
  padding: 0.5em;
}

@media screen and (max-width: 500px) {
  #business-hours-fee .sale-text .sale-text-title {
    letter-spacing: 4px;
  }
}

#business-hours-fee .sale-text span {
  display: inline-block;
}

#business-hours-fee .sale-text .border-bottom {
  font-weight: bold;
  border-bottom: 2px double #444;
  margin: 0 1em;
}

#events .event {
  width: calc(50% - 4em);
  margin: 2em;
}

@media screen and (max-width: 1350px) {
  #events .event {
    width: 80%;
    margin: 0 auto;
  }
}

#events .event img {
  border-radius: 100px;
  margin-top: 1em;
  height: 60vh;
}

@media screen and (max-width: 900px) {
  #events .event img {
    height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  #events .event img {
    border-radius: 50px;
    margin-top: 2em;
    height: 90%;
  }
}

#events .event h3 {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1350px) {
  #events .event h3 {
    margin-top: 2em;
  }
}

#events .event p {
  margin-top: 1em;
  width: 500px;
  overflow-wrap: break-word;
  margin: 1em auto;
}

@media screen and (max-width: 900px) {
  #events .event p {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  #events .event p {
    width: 80%;
    margin: 1em auto 2em auto;
  }
}

#guide {
  background-color: #FCF7FF;
}

#guide p {
  margin-top: 1em;
}

#guide .guide-map {
  margin: 1em;
}

#guide .guide-map img {
  width: 70%;
}

@media screen and (max-width: 500px) {
  #guide .guide-map img {
    width: 90%;
  }
}

#guide .guide-points {
  margin-top: 1em;
}

@media screen and (max-width: 1350px) {
  #guide .guide-points {
    display: none;
  }
}

#guide .guide-points img {
  width: 45%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  #guide .guide-points img {
    margin-top: 2em;
  }
}

#guide .guide-points h3 {
  padding: 2em 0;
  color: #F6F7EB;
  background-color: #00ABE7;
}

#guide .guide-points .guide-point-1 {
  background-color: #F6F7EB;
}

#guide .guide-points .guide-point-1 .guide-point-text1 {
  margin: auto;
}

#guide .guide-points .guide-point-1 .guide-point-text1 p {
  width: 450px;
  overflow-wrap: break-word;
  margin: 1em auto;
}

@media screen and (max-width: 900px) {
  #guide .guide-points .guide-point-1 .guide-point-text1 p {
    margin-bottom: 2em;
  }
}

#guide .guide-points .guide-point-1 .guide-point-text1 h4 {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#guide .guide-points .guide-point-2 .guide-point-text2 {
  margin: auto;
}

#guide .guide-points .guide-point-2 .guide-point-text2 p {
  width: 450px;
  overflow-wrap: break-word;
  margin: 1em auto;
}

@media screen and (max-width: 900px) {
  #guide .guide-points .guide-point-2 .guide-point-text2 p {
    margin-bottom: 2em;
  }
}

#guide .guide-points .guide-point-2 .guide-point-text2 h4 {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#guide .guide-points .guide-point-3 img {
  width: calc(100%/3);
  height: 350px;
}

#guide .guide-points .guide-point-3 .guide-point-3-text {
  padding: 2em 0;
  background-color: #F6F7EB;
}

#guide .guide-points .guide-point-3 .guide-point-3-text p {
  overflow-wrap: break-word;
  width: 800px;
  margin: 1em auto 0 auto;
}

#guide .guide-points .guide-point-3 .guide-point-3-text h4 {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#guide .guide-points .guide-point-3 .guide-point-3-text .guide-padding {
  padding-bottom: 1em;
}

#guide .slider-container {
  margin: 0 auto;
  padding: 50px;
  background-color: #FCF7FF;
}

@media screen and (min-width: 1350px) {
  #guide .slider-container {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  #guide .slider-container {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  #guide .slider-container {
    padding: 2em;
  }
}

#guide button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: #444;
  font-size: 2rem;
}

#guide button span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#guide .previous:hover span {
  -webkit-transform: translateX(-10px) scale(1.2);
          transform: translateX(-10px) scale(1.2);
}

#guide .next:hover span {
  -webkit-transform: translateX(10px) scale(1.2);
          transform: translateX(10px) scale(1.2);
}

#guide .slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#guide .slider-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  padding-left: 5%;
}

#guide .slider-item {
  display: none;
  margin: 0 auto;
  text-align: center;
}

#guide .slider-item img {
  width: 500px;
  height: 300px;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
          box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
  border-radius: 50px;
}

@media screen and (max-width: 900px) {
  #guide .slider-item img {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  #guide .slider-item img {
    width: 90%;
    height: 200px;
  }
}

#guide .slider-item h4 {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#guide .slider-item p {
  width: 450px;
  overflow-wrap: break-word;
  margin: 1em auto;
}

@media screen and (max-width: 900px) {
  #guide .slider-item p {
    width: 90%;
  }
}

#guide .slider-item.active {
  display: block;
  -webkit-animation: fadeImg 0.8s;
          animation: fadeImg 0.8s;
}

#guide .slider-nav .arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

#guide .slider-nav a {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#guide .slider-nav span {
  display: block;
  width: 100%;
}

#guide .slider-nav .previous span {
  content: url("https://api.iconify.design/ion-arrow-left-c.svg?height=16");
  vertical-align: -0.125em;
}

#guide .slider-nav .next span {
  content: url("https://api.iconify.design/ion-arrow-right-c.svg?height=16");
  vertical-align: -0.125em;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#access {
  margin: 0 0 -1 0;
}

#access .flex-center-access .address {
  margin: auto auto;
}

#access .flex-center-access .address p {
  text-align: left;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1350px) {
  #access .flex-center-access .address p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 900px) {
  #access .flex-center-access .address p {
    text-align: center;
    margin: 1em 5em;
  }
}

#access .flex-center-access .address p span {
  display: inline-block;
}

#access .flex-center-access .address .adderss-p-last {
  padding-top: 2em;
}

@media screen and (max-width: 900px) {
  #access .flex-center-access .address .adderss-p-last {
    border: none;
    padding: 2em 0.5em;
    margin: 1em 0;
  }
}

#access .flex-center-access .address a {
  margin: 0;
  padding: 1.5em 0 0.5em 1em;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 900px) {
  #access .flex-center-access .address a {
    padding: 2em 0 0 0;
  }
}

#access .flex-center-access iframe {
  width: 700px;
  height: 400px;
}

@media screen and (max-width: 1350px) {
  #access .flex-center-access iframe {
    width: 50%;
    height: 400px;
  }
}

@media screen and (max-width: 1350px) {
  #access .flex-center-access iframe {
    width: 100%;
    height: 400px;
  }
}

footer .footer-wrapper {
  background-color: #47d1d6;
}

footer .footer-list {
  margin: 0 1em;
  font-size: 0.8em;
}

@media screen and (max-width: 900px) {
  footer .footer-list {
    display: none;
  }
}

footer .footer-list:first-child {
  margin-left: 8em;
}

footer .footer-list p {
  margin-bottom: 1em;
  position: relative;
  padding-left: 1em;
}

footer .footer-list p::before {
  display: block;
  position: absolute;
  content: "▼";
  width: 0.5em;
  height: 0.5em;
  top: 0;
  left: 0;
}

footer .footer-list li {
  position: relative;
  padding: 0.1em;
  padding-left: 1em;
}

footer .footer-list li::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0.7em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.3em;
  height: 0.3em;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
}

footer .footer-list li a:hover {
  color: #FCF7FF;
}

footer .footer-copyright {
  border-top: 3px dotted #0081AF;
  padding: 0.5em 0;
  margin: 2em 5em 0 5em;
}

@media screen and (max-width: 900px) {
  footer .footer-copyright {
    border: none;
  }
}
/*# sourceMappingURL=index.css.map */