@import url("https://fonts.googleapis.com/css?family=Merienda");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7em;
  letter-spacing: 1.7px;
  font-family: 'Times New Roman', Times, serif;
  color: #444;
  text-align: center;
}

.container {
  height: 2em;
}

.box {
  z-index: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-start-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

table {
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
}

table th,
table th,
table td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
}

table th {
  background-color: #eee;
}

table th + th,
table td {
  border-left: 1px solid #aaa;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

.border-none {
  border-left: none;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .header-top img {
  margin-left: 0.5em;
}

header .header-top h1 {
  margin: 1em 1em;
}

header .header-top .header-lists {
  margin: 1em;
}

header .header-top .header-lists li {
  margin: 1em 0;
}

header .header-img {
  position: relative;
}

header .header-img .album {
  margin: 0;
  background-color: white;
  position: relative;
}

header .header-img .album img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: album;
  -webkit-animation-name: album;
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

header .header-img .album .img1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  display: block;
  margin: 0;
}

header .header-img .album .img2 {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img3 {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img4 {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img .album .img5 {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
  animation-direction: 5s;
  -webkit-animation-direction: 5s;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes album {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes album {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

header .header-img .header-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

header .header-img .header-text p {
  color: #fff;
  font-weight: bolder;
  font-size: 4em;
  padding: 1em 0 0 1em;
}

main .content-wrapper {
  margin: 5em 0;
}

main .content-wrapper h2 {
  margin: 2em;
}

#business-hours-fee .hours {
  margin: 0 0 2em 0;
}

#business-hours-fee .hours .hour-table {
  margin: 1em auto;
}

#business-hours-fee .fee {
  margin: 0 0 2em 0;
}

#business-hours-fee .fee .fee-table {
  margin: 1em auto;
}

#business-hours-fee .sale-text {
  padding: 1em;
  border: 2px solid #3c91e6;
}

#events .event {
  width: calc(50% - 4em);
  margin: 2em;
}

#events .event img {
  border-radius: 40%;
}

#guide-points .guide-point {
  width: calc(100%);
}

#guide-points .guide-point img {
  width: 30%;
}

.event img {
  margin-top: 1em;
}

.event p {
  margin-top: 1em;
}

#guide p {
  margin-top: 1em;
}

#guide .guide-points {
  margin-top: 1em;
}

#guide .guide-points img {
  width: 40%;
  height: 100%;
}

#guide .guide-points h3 {
  margin: 1em 0;
}

#guide .guide-points .guide-point-1 {
  background-color: #3c91e6;
}

#guide .guide-points .guide-point-1 .guide-point-text1 {
  margin: auto;
}

#guide .guide-points .guide-point-1 .guide-point-text1 h4, #guide .guide-points .guide-point-1 .guide-point-text1 p {
  color: #dee5e5;
}

#guide .guide-points .guide-point-2 {
  background-color: #dee5e5;
}

#guide .guide-points .guide-point-2 .guide-point-text2 {
  margin: auto;
}

#guide .guide-points .guide-point-3 img {
  width: calc(100%/3);
  height: 350px;
}

#guide .guide-points .guide-point-3 .guide-point-3-text {
  background-color: #dee5e5;
}

#guide .guide-points .guide-point-3 .guide-point-3-text .guide-padding {
  padding-bottom: 1em;
}

footer .footer-wrapper {
  background-color: #3c91e6;
}
/*# sourceMappingURL=index.css.map */