@charset "UTF-8";

$main_color: #47d1d6;
$font_color1: #444;
$font_color2: #fff;
$sub_color1: #F6F7EB;
$sub_color2: #FCF7FF;
$sub_color3: #00ABE7;
$sub_color4: #0081AF;



$breakpoints: (
  'sm': 'screen and (max-width: 500px)',
  'md': 'screen and (max-width: 900px)',
  'lg': 'screen and (max-width: 1350px)',
  'xl': 'screen and (min-width: 1350px)',

) !default;

@mixin mq($breakpoint: md){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.7em;
    letter-spacing: 1.7px;
    font-family: 'Times New Roman', Times, serif;
    color: $font_color1;
    text-align: center;
}


// raindrop

@import url('https://fonts.googleapis.com/css?family=Merienda');

.container {
  height: 2em;
  margin-top: -1.5em;
}
.box {
  z-index:1;
}


// // wave

.wave-wrapper p{
  padding: 300px 0;
  text-align: center;
}

// 波紋
.ripples {
  padding: 3em 0;
  width: 100%;
  height: 140px;
  background-image: url(img/water.jpg);
  object-fit: cover;
  background-position: 100% 100%;
  background-size: cover;
}

// ハンバーガーメニュー

.hamburger{
  display: none;
  @include mq(sm){
    display: block;
  }
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.hamburger-menu-btn{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $sub_color3;
  i{
    color: $sub_color1;
  }
}

/*----------------------------
* メニュー本体
*----------------------------*/
.hamburger-menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient($sub-color3, $main-color);
  // background: $sub_color3;
}
.hamburger-menu__item{
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
  box-sizing: border-box;
  a{
    color: $sub_color1;
    font-size: 1em;
    &:hover{
      color: $sub_color4;
    }
  }
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.hamburger-menu{
  transform-origin: top left;
  transform: rotateZ(-90deg);
  transition: all .3s ease;
}
/* アニメーション後のメニューの状態 */
.hamburger-menu.is-active{
  transform: rotateZ(0deg);
}

/*====================================================================
アコーディオンメニュー
====================================================================*/
.s_07 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;
  display: none;
  @include mq(md){
    display: block;
  }
}
.s_07 .accordion_one .accordion_header {
  background-color: $main_color;
  border-bottom: 1px solid $font_color1;
  color: $font_color1;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  @include mq(sm){

  }
}
.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header {
  background-color: $main-color;
  &:hover{
    background-color: $sub_color2;
  }
}
.s_07 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: $main-color;
}
.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header {
  background-color: $main_color;
  &:hover{
    background-color: $sub_color2;
  }
}
.s_07 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: $main-color;
}
.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header {
  background-color: $main_color;
  &:hover{
    background-color: $sub_color2;
  }
}
.s_07 .accordion_one .accordion_header:hover {
  opacity: .8;
}
.s_07 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  border: 1px solid $font_color1;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.s_07 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.s_07 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before, .s_07 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: $font_color1;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.s_07 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  box-sizing: border-box;
}
.s_07 .accordion_one .accordion_inner .box_one {
  height: 300px;
}
.s_07 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}
li{
  list-style: none;
}
a{
text-decoration: none;
}
.flex-start-header{
display: flex;
justify-content: start;
}

.flex-start{
display: flex;
justify-content: start;
@include mq(md){
  display: block;
}
}
.flex-start-reverse{
display: flex;
justify-content: start;
flex-direction: row-reverse;
@include mq(md){
  display: block;
}
}

.flex-start-footer{
  display: flex;
  justify-content: start;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.flex-center-access{
  display: flex;
  justify-content: center;
  @include mq(md){
    display: block;
  }
}
.flex-around{
  display: flex;
  justify-content: space-around;
  @include mq(lg){
    display: block;
  }
}
.flex-around-header{
  display: flex;
  justify-content: space-around;
  @include mq(sm){
    display: none;
  }
}
.flex-around-event{
  display: flex;
  justify-content: space-around;
  @include mq(lg){
    display: block;
  }
}
svg{
  display: block;
  overflow: visible;
  @include mq(xl){
    display: none;
  }
}

table{
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  font-size: 1em;
  @include mq(md){
    font-size: 0.7em;
  }
}

table th,
table td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
  @include mq(md){
    padding: 0.6em 3em;
  }
  @include mq(sm){
    padding: .6em 0.5em;
  }
}
table th {
  background-color: $sub_color1;
}
table th + th,
table td {
  border-left: 1px solid #aaa;
}
table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}
.border-none{
  border-left: none;
}

header{
  .header-top{
    .flex-start-header{
      border-bottom: 5px dotted $main_color;
      margin: 0 3em;
      img{
        width: 110px;
        height: 110px;
        margin-left: 0.5em;
        @include mq(sm){
          width: 70px;
          height: 70px;
          margin-left: -2em;
        }
      }
    }
    h1{
      margin: 1em 1em;
      @include mq(sm){
        font-size: 1.2em;
      }
    }
    .header-lists{
      margin: 1em;
      li{
        margin: 1em 0;
      }
    }
  }
  .header-img {
   position: relative;
   vertical-align: top;
    .album {
      margin: 0;
      background-color: white;
      position: relative;
    }
    .album img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      animation-name: album;
      -webkit-animation-name: album;
      animation-duration: 20s;
      -webkit-animation-duration: 20s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      opacity: 0;
    }

    .album .img1 {
      animation-delay:0s;
      -webkit-animation-delay:0s;
      display: block;
      margin: 0;
    }

    .album .img2 {
      animation-delay:5s;
      -webkit-animation-delay:5s;
      position: absolute;
      top: 0;
      left: 0;
    }
    .album .img3 {
      animation-delay:10s;
      -webkit-animation-delay:10s;
      position: absolute;
      top: 0;
      left: 0;
    }
    .album .img4 {
      animation-delay:15s;
      -webkit-animation-delay:15s;
      position: absolute;
      top: 0;
      left: 0;
    }
    .album .img5 {
      animation-delay:20s;
      -webkit-animation-delay:20s;
      animation-direction: 5s;
      -webkit-animation-direction: 5s;
      position: absolute;
      top: 0;
      left: 0;
    }

    @keyframes album {
      0% {
        opacity: 0;
      }

      12.5% {
        opacity: 1;
      }

      37.5% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }

    @-webkit-keyframes album {
      0% {
        opacity: 0;
      }

      12.5% {
        opacity: 1;
      }

      37.5% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
    .header-text{
      position: absolute;
      top: 1rem;
      left: 1rem;
      p{
        color: $font_color2;
        font-weight: bolder;
        font-size: 4em;
        padding: 1em 0 0 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        @include mq(lg){
          font-size: 3.5em;
        }
        @include mq(md){
          font-size: 2em;
          padding: 0.5em 0 0 0.5em;
        }
        @include mq(sm){
          display: none;
        }
      }
    }
  }
}
main{
  .content-wrapper{
    margin: 0;
    background-color: $sub_color2;
    h2{
      color: $font_color2;
    }
  }
}

#business-hours-fee{
  margin: 2em 0 0 0;
  padding-top: 2em;
  border-top: 5px dotted $main_color;
  .hours{
    margin: 2em 0 2em 0;
    .hour-table{
      margin: 1em auto;
    }
  }
  .fee{
    margin: 2em 0 2em 0;
    .fee-table{
      margin: 1em auto;
    }
    table th,
    table td {
      padding: 0.89em 3em;
      @include mq(lg){
        padding: 1em 4.5em;
      }
      @include mq(sm){
        padding: 0.5em 2em;
      }
    }
  }
  .sale-text{
    padding: 1em;
    margin: 1em 7em 2em 7em;
    border: 5px dotted $main_color;
    @include mq(sm){
      margin: 3em 3em 4em 3em;
    }
    .sale-text-title{
      letter-spacing: 5px;
      padding: 0.5em;
      @include mq(sm){
        letter-spacing: 4px;
      }
    }
    span{
      display: inline-block;
    }
    .border-bottom{
      font-weight: bold;
      border-bottom: 2px double $font_color1;
      margin: 0 1em;
    }
  }
}

#events{
  .event{
    width: calc(50% - 4em);
    margin: 2em;
    @include mq(lg){
      width: 80%;
      margin: 0 auto;
    }
    img{
      border-radius: 100px;
      margin-top: 1em;
      height: 60vh;
      @include mq(md){
        height: 40vh;
      }
      @include mq(sm){
        border-radius: 50px;
        margin-top: 2em;
        height: 90%;
      }
    }
    h3{
      font-size: 1.5em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      @include mq(lg){
        margin-top: 2em;
      }
    }
    p{
      margin-top: 1em;
      width: 500px;
      overflow-wrap: break-word;
      margin: 1em auto;
      @include mq(md){
        width: 400px;
      }
      @include mq(sm){
        width: 80%;
        margin: 1em auto 2em auto;
      }
    }
  }
}

#guide{
  background-color: $sub_color2;
  p{
    margin-top: 1em;
  }
  .guide-map{
    margin: 1em;
    img{
      width: 70%;
      @include mq(sm){
        width: 90%;
      }
    }
  }
  .guide-points{
    margin-top: 1em;
    @include mq(lg){
      display: none;
    }
    img{
      width: 45%;
      height: 100%;
      @include mq(md){
        margin-top: 2em;
      }
    }
    h3{
      padding: 2em 0;
      color: $sub_color1;
      background-color: $sub_color3;
    }
    .guide-point-1{
      background-color: $sub_color1;
      .guide-point-text1{
        margin: auto;
        p{
          width: 450px;
          overflow-wrap: break-word;
          margin: 1em auto;
          @include mq(md){
            margin-bottom: 2em;
          }
        }
        h4{
          font-size: 1.5em;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
    }
    .guide-point-2{
      .guide-point-text2{
        margin: auto;
        p{
          width: 450px;
          overflow-wrap: break-word;
          margin: 1em auto;
          @include mq(md){
            margin-bottom: 2em;
          }
        }
        h4{
          font-size: 1.5em;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
    }
    .guide-point-3{
      img{
        width: calc(100%/3);
        height: 350px;
      }
      .guide-point-3-text{
        padding: 2em 0;
        background-color: $sub_color1;
        p{
          overflow-wrap: break-word;
          width: 800px;
          margin: 1em auto 0 auto;
        }
        h4{
          font-size: 1.5em;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .guide-padding{
          padding-bottom: 1em;
        }
      }
    }
  }
  // スライダー
  .slider-container {
    margin: 0 auto;
    padding: 50px;
    background-color: $sub_color2;
    @include mq(xl){
      display: none;
    }
    @include mq(lg){
      display: block;
    }
    @include mq(sm){
      padding: 2em;
    }
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: $font_color1;
    font-size: 2rem;
  }

  button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }

  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }

  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
    padding-left: 5%;
  }


  .slider-item{
      display: none;
      margin: 0 auto;
      text-align: center;
      img {
        width: 500px;
        height: 300px;
        box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
        border-radius: 50px;
        @include mq(md){
          width: 100%;
          height: 300px;
        }
        @include mq(sm){
          width: 90%;
          height: 200px;
        }
      }
      h4{
          font-size: 1.5rem;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      p{
          width: 450px;
          overflow-wrap: break-word;
          margin: 1em auto;
          @include mq(md){
            width: 90%;
          }
      }
  }

  .slider-item.active {
    display: block;
    animation: fadeImg 0.8s;
  }

  .slider-nav .arrow {
    flex: 0 0 15%;
  }

  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .slider-nav span {
    display: block;
    width: 100%;
  }
  .slider-nav{
      .previous span{
          content: url('https://api.iconify.design/ion-arrow-left-c.svg?height=16');
          vertical-align: -0.125em;
      }
      .next span{
          content: url('https://api.iconify.design/ion-arrow-right-c.svg?height=16');
          vertical-align: -0.125em;
      }
  }

  @keyframes fadeImg {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  // スライダー終わり
}
#access{
  margin: 0 0 -1 0;

  .flex-center-access{
    .address{
      margin: auto auto;
      p{
        text-align: left;
        padding: 0.5em 0;
        border-bottom: 1px solid #ddd;
        @include mq(lg){
          font-size: 0.9em;
        }
        @include mq(md){
          text-align: center;
          margin: 1em 5em;
        }
        span{
          display: inline-block;
        }
      }
      .adderss-p-last{
        padding-top: 2em;
        @include mq(md){
          border: none;
          padding: 2em 0.5em;
          margin: 1em 0;
        }
      }
      a{
        margin: 0;
        padding: 1.5em 0 0.5em 1em;
        border-bottom: 1px solid #ddd;
        @include mq(md){
          padding: 2em 0 0 0;
        }
      }
    }
    iframe{
      width: 700px;
      height: 400px;
      @include mq(lg){
        width: 50%;
        height: 400px;
      }
      @include mq(lg){
        width: 100%;
        height: 400px;
      }
    }
  }
}

footer{
  .footer-wrapper{
    background-color: $main_color;
  }
  .footer-list{
    margin: 0 1em;
    font-size: 0.8em;
    @include mq(md){
      display: none;
    }
    &:first-child{
      margin-left: 8em;
    }
    p{
      margin-bottom: 1em;
      position: relative;
      padding-left: 1em;
      &::before{
        display: block;
        position: absolute;
        content: "▼";
        width: 0.5em;
        height: 0.5em;
        top: 0;
        left: 0;
      }
    }
    li{
      position: relative;
      padding: 0.1em;
      padding-left: 1em;
      &::before{
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 0.7em;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 0.3em;
        height: 0.3em;
        border-top: 1px solid $font_color1;
        border-right: 1px solid $font_color1;
      }
      a{
        &:hover{
          color: $sub_color2;
        }
      }
    }
  }

  .footer-copyright{
    border-top: 3px dotted $sub_color4;
    padding: 0.5em 0;
    margin: 2em 5em 0 5em;
    @include mq(md){
      border: none;
    }
  }
}